:root {
  --blue-0: #7099e5;
  --blue-1: #6184c6;
  --blue-2: #4c689c;

  --yellow-0: #ffe68a;
  --yellow-1: #fad754;
  --yellow-2: #ccaf45;

  --pink-0: #ffbdcb;
  --pink-1: #faa4b7;
  --pink-2: #cc8695;

  --white-0: #fafafa;
  --white-1: #f6f5fb;
  --white-2: #c8c7cc;

  --gray-1: #89898c;
  --gray-2: #4b4b4d;

  --black-1: #252526;
  --black-2: #161617;

  --h0-size: 12.8rem;
  --h1-size: 9.6rem;
  --h2-size: 7.2rem;
  --h3-size: 6.4rem;
  --h4-size: 4.8rem;
  --h5-size: 4rem;
  --h6-size: 3.6rem;
  --h7-size: 3.2rem;
  --h8-size: 2.4rem;
  --h9-size: 2rem;

  --p0-size: 2.4rem;
  --p1-size: 2rem;
  --p2-size: 1.8rem;
  --p3-size: 1.6rem;
  --p4-size: 1.4rem;
  --p5-size: 1.2rem;

  --font-family: 'Montserrat', sans-serif;
}
